:root{

    /* Variáveis CSS!*/
    --color-background:  #32264D;
    --color-primary-lighter: #546d86;
    --color-primary-light:#34495e;
    --color-primary:#C1BCCC;
    --color-primary-dark: #6A6180;
    --color-primary-darker: #0065ca;
    --color-secondary: #2467aa;
    --color-secondary-dark: #173d64;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: rgb(43, 40, 51);
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
    --color-small-info: #C1BCCC;
  }

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.titlecontainer{
  color: var(--color-primary-darker);
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  font-family: cursive;
}

html, body {
    height: 100vh; /* Altura */
    background-color: var(--color-background);
    align-content: center;
}

.justbutton {
    background: var(--color-primary-lighter);
    display: flex;
    justify-content: center;
    width: 63rem;
    height: 3rem;
  
    border-color: var(--color-primary-light);
    border-radius: .8rem;
    margin-right: 1.6rem;
    margin-top: .5rem;
  
    font:15 Archivo;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    text-decoration: none;
  
    transition: background 0.2s;
  
    color: var(--color-button-text);
  }
  
  .justbutton:hover {
    background: var(--color-primary-light);
  }

.buttoncontainer {
    display: flex;
    justify-content: center;
    margin: 3.2rem 0;
  }
  
  .buttoncontainer a {
    width: 30rem;
    height: 3rem;
  
    border-radius: .8rem;
    margin-right: 1.6rem;
  
    font:15 Archivo;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    text-decoration: none;
  
    transition: background 0.2s;
  
    color: var(--color-button-text);
  }
  
  .buttoncontainer a.index-page {
    background: var(--color-primary-lighter);
  }
  
  .buttoncontainer a.index-page:hover {
    background: var(--color-primary-light);
  }
  
  .buttoncontainer a.binomial-page:hover {
    background: var(--color-secondary-dark);
  }
  
  .buttoncontainer a.binomial-page {
    background: var(--color-secondary);
    margin-right: 0;
  }

  .buttoncontainer a.correlation-page {
    background: var(--color-primary-lighter);
    margin-left: 1.6rem;
  }
  
  .buttoncontainer a.correlation-page:hover {
    background: var(--color-primary-light);
  }

.bigcontainer{
    width: 90vw; /* Largura */
    max-width: 1080px;
    background-color: white;
    border: solid var(--color-primary-light) 2px;
    margin: 0px auto;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    outline: 0;
    padding: 1.6rem;
    padding-left: 2rem;
    align-self: center;
    align-content: center;
    display: table;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    color: rgb(75, 74, 74);
  }

.input-fiel {
    min-width: 50px;
    align-self: center;
    align-content: center;
    justify-content: center;
    display: flex;
    color: var(--color-primary-darker);
}

#container {
  height: 400px; 
}

.highcharts-figure, .highcharts-data-table table {
  min-width: 310px; 
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}
.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}
.highcharts-data-table th {
font-weight: 600;
  padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
  padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}
.highcharts-data-table tr:hover {
  background: #f1f7ff;
}